<div class="m-control m-catalogsearch-container">
    <!-- TITLE -->
    <div class="title">Búsqueda en catálogo</div>
    <!-- search panel -->
    <div class="search-panel">
        <input type="text" id="m-catalogsearch-search-input" placeholder="Buscar" class="m-input-search" />
        <button id="m-catalogsearch-search-btn" class="g-cartografia-zoom m-search-btn" title="Buscar"></button>
        <button id="m-catalogsearch-clear-btn" class="g-cartografia-cancelar m-clear-btn" title="Limpiar búsqueda"></button>
    </div>
    <!-- results panel -->
    <div class="results-panel" id="m-catalogsearch-results">
        <div id="m-searching-result" class="m-searching-result g-cartografia-spinner"></div>
    </div>
</div>